fastapi
uvicorn
langchain
langchain-groq
langchain-text-splitters
chromadb
elevenlabs
python-dotenv
pydantic
pypdf
firebase-admin
slowapi
livekit-agents
livekit-plugins-openai
livekit-plugins-deepgram
livekit-plugins-elevenlabs
livekit-plugins-silero
langchain-chroma>=1.1.0
pydantic-settings>=2.14.1
mutagen>=1.47.0
langchain-classic>=1.0.7
langchain-community>=0.4.1

